@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Nova Square", cursive;
}

:root {
  --hue-neutral: 200;
}

/* body {
 
} */



/* .title p {
  border-bottom: 2px solid green;
} */

header {
  margin-bottom: 20px;
}